<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backlog App</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <section class="game-container">
        <h1>Backlog of games</h1>
        <section class="game">
            <form action="/" method="POST" class="game-header">
                <input type="text" name="title" placeholder="Enter game title..">
                <button type="submit"><span class="fas fa-plus"></span> Add Game</button>
            </form>
        </section>
    </section>


<script src='/main.js'></script>
</body>
</html>