* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    background: rgb(19, 32, 51);
    background-image: url('/assets/sprinkle.svg');
  }
  
  .game-container {
    width: 480px;
    margin: 40px auto;
    padding: 26px 40px 40px;
    background: rgb(255 255 255 / 0.9);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  h1 {
    font-family: 'Rubik', sans-serif;
    color: rgb(0 0 0 / 0.8);
    padding: 0 20px 3px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 4px;
    text-align: center;
  }

  h1:hover {
    color: rgb(31, 56, 95);
    cursor: pointer;
  }
  
  h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: rgb(0 0 0 / 0.8);
    padding: 30px 0 15px;
    font-size: 22px;
  }
  
  .big-icon {
    color: rgb(0 0 0 / 0.2);
    font-size: 20px;
    margin-right: 5px;
  }
  
  .game {
    margin-top: 20px;
  }
  
  form input {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding: 1px 0 3px 7px;
    border-radius: 5px 0 0 5px;
    border-color: rgb(114 114 114);
    border-width: 1px;
    width: 75%;
    line-height: 1.5;
  }
  
  button {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 7px;
    background: rgb(63 60 60);
    color: rgb(255 255 255);
    border-radius: 0 5px 5px 0;
    border: transparent;
    cursor: pointer;
  }
  
  .edit-input {
    margin: 0 0 5px;
    font-size: 17px;
    font-style: italic;
    color: rgb(75 75 75);
    width: 80%;
  }
  
  .confirm {
    padding: 7px 5px 7px 3px;
    width: 18%;
  }
  
  .game-list-item-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
    background: rgb(255 255 255 / 0.45);
    padding: 15px;
    margin-bottom: 2px;
    font-size: 19px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .game-list-item-title:hover {
    box-shadow: rgba(50, 50, 93, 0.4) 0px 50px 100px -20px, rgba(0, 0, 0, 0.35) 0px 30px 60px -30px;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .compleation-status {
    padding-top: 3px;
    margin-right: 10px;
    font-size: 13px;
  }
  
  .compleation-status::first-letter {
    text-transform: capitalize;
  }
  
  .game-list li {
    list-style: none;
    padding: 5px 0 0;
  }
  
  .status-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    height: 20px;
  }
  
  .edit {
    margin-left: 8px;
    padding-top: 1px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(191 191 191);
  }
  
  .edit span:hover {
    color: rgb(100 100 100 / 0.9);
    transition: all 0.3s ease;
  }
  
  .remove {
    line-height: 1.3;
    margin-left: 10px;
    font-size: 19px;
    color: rgb(205 205 205);
  }
  
  .remove span:hover {
    color: rgb(238 14 14);
    transition: all 0.5s ease;
  }
  
  .cancel {
    margin-left: 3px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(225 17 17);
  }
  
  /* Dropdown menu */
  
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 1px;
    margin-left: 6px;
  }
  
  .status-menu {
    color: rgb(191 191 191);
    width: 24px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 1px auto 30px;
    transition: all 0.2s ease;
  }
  
  .status-menu:hover {
    background: rgb(216 216 216);
    color: rgb(100 100 100 / 0.9);
  }
  
  .dd-wrap {
    width: 120px;
    position: relative;
    display: none;
  }
  
  .dd-wrap ul li {
    position: relative;
    left: 62%;
    top: 31px;
    padding: 0;
  }
  
  .dd-wrap ul li a {
    display: block;
    background: white;
    color: black;
    padding: 8px 10px;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.2s ease;
  }
  
  .dd-wrap ul li a:hover, .dd-wrap ul li a:active {
    background: rgb(216 216 216);
  }
  
  .dd-wrap ul li:first-child a {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  .dd-wrap ul li:last-child a {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .dd-wrap::before {
    content: "";
    position: absolute;
    top: 13px;
    right: -25%;
    transform: translateX(-50%);
    border: 9px solid;
    border-color: transparent transparent rgb(255 255 255) transparent;
    z-index: 1;
  }
  
  .icon {
    margin-right: 3px;
  }
  
  .dd-wrap ul li:last-child .text {
    margin-left: 4px;
  }
  
  .dd-wrap ul li:last-child .icon {
    margin-left: 2px;
  }
  
  .dd-wrap.active {
    display: block;
  }