* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background: rgb(31, 33, 35);
    font-family: 'Open Sans', sans-serif;
}

.game-container {
    width: 480px;
    display: absolute;
    top: 50%;
    left: 50%;
    margin: 40px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

h1 {
    padding: 20px 20px 0 0;
    font-size: 28px;
}

h2 {
    padding: 20px 0;
    font-size: 22px;
}

form input {
    margin: 20px 0 5px 0;
    padding: 5px;
    width: 300px;
}

.edit-input {
    padding-top: 3px;
    margin: 0px 0 5px 0;
    font-size: 20px;
    font-style: italic;
    color: rgb(75, 75, 75);
    width: 330px;
}

.confirm {
    padding: 8px 5px 6px 5px;
}

button {
    padding: 5px;
    background: rgb(63, 60, 60);
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
}

.game-list-item-title {
    background: rgb(255, 255, 255, 0.3);
    padding: 15px;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 7px;
}

.compleation-status {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 13px;
}

.game-list li {
    list-style: none;
    padding: 10px 0;
}

.status-container {
    display: flex;
    margin-left: 15px;
}

.edit {
    padding-top: 1px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(61, 91, 113);
}

.remove {
    margin-right: 10px;
    font-size: 17px;
    color: rgb(205, 205, 205);
}
.remove span:hover {
    color: rgb(238, 14, 14);
}

.cancel {
    margin-left: 3px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: rgb(225, 17, 17);
}